@page "{id:int?}"
@model Tupla_Web_Store.Pages.Org.EditgameModel

@{
    ViewData["Title"] = "Editgame";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('.img-fluid.profile')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

<h1>Editgame</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group custom-file">
                <img class="img-fluid profile" src="@Model.imgDisplay" asp-append-version="true"
                     width="397" height="224" />
                <input asp-for="@Model.Imgfile" onchange="readURL(this)"
                       class="form-control-file" asp-append-version="true"
                       accept="image/*" />
            </div>
            <br /><br />
            <input type="hidden" asp-for="Game.GameId" />
            <input type="hidden" asp-for="Game.CompanyID" />
            <div class="form-group">
                <label asp-for="Game.GameName" class="control-label"></label>
                <input asp-for="Game.GameName" class="form-control" />
                <span asp-validation-for="Game.GameName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.Description" class="control-label"></label>
                <textarea asp-for="Game.Description" class="form-control"></textarea>
                <span asp-validation-for="Game.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.HtmlText" class="control-label"></label>
                <textarea asp-for="Game.HtmlText" class="form-control"></textarea>
                <span asp-validation-for="Game.HtmlText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.Price" class="control-label"></label>
                <input asp-for="Game.Price" class="form-control" />
                <span asp-validation-for="Game.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
