@page "{gameid:int}"
@model Tupla_Web_Store.Pages.Org.RegisterDiscountModel
@{
    ViewData["Title"] = "RegisterDiscount";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Register Discount</h1>
<div class="row">
    <div class="col-sm-8">
        <div class="col-sm-6">
            <img class="img-fluid" src="@Model.imgpath" asp-append-version="true"
                 style="width:100%;height:200px"/>
        </div>
        <div class="col-sm-12">

        </div>
    </div>
    <div class="col-sm-4">

    </div>
</div>
